<div class="container-flex mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ms-5" th:href="@{/}">TechWarehouse</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" th:href="@{/categories}">Categories</a>
                <a class="nav-item nav-link active" th:href="@{/mans}">Manufacturers</a>
                <a class="nav-item nav-link active" th:href="@{/items}">Items</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-item nav-link" th:href="@{/mans/add}">Add manufacturer</a>
                <a class="nav-item nav-link me-5" th:href="@{/items/add}">Add item</a>
            </div>
        </div>
    </nav>
</div>